<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='org.example.DAO.CarModelDAO'>

    <insert id="createNewTableIfNotExists" parameterType="String" >
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'${_parameter}') AND type in (N'U'))
        BEGIN
        CREATE TABLE ${_parameter}
        (
        id bigint NOT NULL,
        name nvarchar(max),
        length float,
        weight float,
        bodyType nvarchar(255),
        carBrandId bigint,
        FOREIGN KEY(CarBrandId) REFERENCES CarBrand( Id ),
        PRIMARY KEY (id)
        )
        END
    </insert>


    <select id='getById' parameterType='long' resultType='org.example.Entities.CarModel'>
        SELECT id, name, length, weight, bodyType, carBrandId FROM CarModel
        WHERE id = #{id}
    </select>

    <resultMap type='CarModel' id='CarModelResult'>
        <id property='id' column='id'/>
        <result property='name' column='name'/>
        <result property='length' column='length'/>
        <result property='weight' column='weight'/>
        <result property='bodyType' column='bodyType'/>
        <result property='carBrandId' column='carBrandId'/>
        <association property="carBrand" javaType="CarBrand">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="date" column="date"/>
        </association>
    </resultMap>



    <insert id="insertCarModel" parameterType="CarModel">
        INSERT INTO CarModel(id, name, length, weight, bodyType, carBrandId)
        VALUES(#{id}, #{name}, #{length}, #{weight}, #{bodyType}, #{carBrandId})
    </insert>
    <insert id="save" parameterType="CarModel" useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO CarModel(id, name, length, weight, bodyType, carBrandId)
        VALUES(#{id}, #{name}, #{length}, #{weight}, #{bodyType}, #{carBrandId})
    </insert>

    <select id='getAll' resultType='org.example.Entities.CarModel'>
        SELECT * FROM CarModel
    </select>
    <select id='update' resultType='org.example.Entities.CarModel' parameterType='CarModel'>
        UPDATE CarModel SET name=#{name}, length=#{length}, weight=#{weight}, bodyType=#{bodyType}, carBrandId=#{carBrandId} WHERE id=#{id}
    </select>

    <delete id='deleteById' parameterType='long'>
        DELETE FROM CarModel WHERE id= #{id}
    </delete>

    <delete id='deleteAll' >
        DELETE FROM CarModel
    </delete>

    <delete id='deleteByEntity' parameterType='long'>
        DELETE FROM CarModel WHERE Id=#{id}
    </delete>

</mapper>